<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f7215e24-23d9-4b41-97c0-7aba432eec5d/resourceGroups/AppTeste/providers/Microsoft.Web/sites/ErpApi1</ResourceId>
    <ResourceGroup>AppTeste</ResourceGroup>
    <ApiResourceId>/subscriptions/f7215e24-23d9-4b41-97c0-7aba432eec5d/resourceGroups/AppTeste/providers/Microsoft.ApiManagement/service/ErpApiapi/apis/ErpApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://erpapi1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>d615f6e8-c626-48b4-91ec-9c12e4ae90d8</ProjectGuid>
    <PublishUrl>https://erpapi1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ErpApi1</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>